body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #f8f8f8;
    padding: 10px 20px;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-container {
    padding: 20px;
    text-align: center;
}

.product-image {
    width: 100%;
    max-width: 400px;
    height: auto;
    margin: 20px 0;
}
.btn-buy {
    padding: 10px 20px;
    background-color: rgba(0, 128, 0, 1);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.footer {
    background-color: #f8f8f8;
    padding: 10px 20px;
    text-align: center;
}

.footer-frame {
    display: flex;
    justify-content: space-between;
    align-items: center;
}